
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.my_btn{
    font-size: 30px;
    background-color: rgb(94, 94, 94);
    color: white;
    border: 5px solid rgb(44, 62, 80);
    border-radius: 20px; 
    box-shadow: #F0F8FF 5px 5px 5px;
    text-align: center;
    padding: 0px 80px;
    margin-left: 250px;
    margin-right: 250px;
}


h1 {
    color: #082567;  /* 원래 색rgb(52, 73, 94); */
    text-align: center;
    margin: 180px;
    font-size: 80px;
    font-family: 'SBAggroB';
    text-shadow: 4px 10px 4PX #F0F8FF; 
}  